.news
	width 100%
	padding 4px 0
	
	h2
		display flex
		justify-content center
		margin 40px 0
	
	.news-item
		background white
		border-radius 10px
		margin 5px 5px 20px
		transition()
		
		&:hover
			-webkit-box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.15)
			box-shadow 0 5px 15px 0 rgba(0, 0, 0, 0.15)
		
		
		.news-item-image
			height 60px
			position relative
			border-radius 10px 10px 0 0
			background $primary
			
			&.thumbnail
				height 200px
			
			img
				width 100%
				height 100%
				object-fit cover
			
			.date
				font-size var(--font-normal)
				background $primary
				position absolute
				right 15px
				top 15px
				padding 4px 12px
				color white
				font-weight bold
				border-radius 20px
		
		
		.news-item-content
			padding 20px 20px 40px 20px
			border-radius 0 0 10px 10px
			position relative
			display flex
			flex-direction column
			
			.title-and-date
				display flex
				justify-content space-between
				align-items center
				
				h3
					font-size var(--font-big)
					color $primary
			
			a.readmore
				margin-top 10px
				color $primary
				align-self flex-end
