.page-content
	padding-bottom 80px
	
	.header
		width 100%
		height 200px
		
		
		position relative
		display flex
		justify-content center
		
		&.blank
			height 50px
		
		&-background
			position absolute
			top 0
			left 0
			width 100%
			height 100%
			
			img
				width 100%
				height 100%
				object-fit cover
		
		h1
			position absolute
			bottom -20px
			padding 20px 40px
			text-align left
			background $primary
			color white
			font-size var(--font-huge)
		
		&.high
			height auto
			
			.header-background
				position relative
	
	.text
		margin-top 80px
		font-size var(--font-medium)
		line-height 1.67
		
		.wp-block-columns, p
			margin-bottom 40px
		
		table
			tr
				td
					padding 0 10px
		
		h2
			margin-top 40px
		
		h3
			position relative
			display inline-block
			font-size var(--font-big)
			
			&::before
				content ''
				width calc(100% + 10px)
				position absolute
				height 7px
				background #dd6600
				bottom 8px
				opacity 0.3
				left -5px
				padding 0 4px
