transition($time = 300ms)
	-webkit-transition all $time ease-in-out
	-moz-transition all $time ease-in-out
	-ms-transition all $time ease-in-out
	-o-transition all $time ease-in-out
	transition all $time ease-in-out
