@font-face
	font-family 'icomoon'
	src url('../../../../fonts/icons/icomoon.eot?ceh07u')
	src url('../../../../fonts/icons/icomoon.eot?ceh07u#iefix') format('embedded-opentype'),
	url('../../../../fonts/icons/icomoon.ttf?ceh07u') format('truetype'),
	url('../../../../fonts/icons/icomoon.woff?ceh07u') format('woff'),
	url('../../../../fonts/icons/icomoon.svg?ceh07u#icomoon') format('svg')
	font-weight normal
	font-style normal
	font-display block

[class^="icon-"], [class*=" icon-"]
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family 'icomoon' !important
	speak never
	font-style normal
	font-weight normal
	font-variant normal
	text-transform none
	line-height 1
	
	/* Better Font Rendering =========== */
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

.icon-check:before {
	content: "\f00c";
}
.icon-close:before {
	content: "\f00d";
}
.icon-chevron-left:before {
	content: "\f053";
}
.icon-chevron-right:before {
	content: "\f054";
}

.icon-arrow-up:before {
	content: "\f062";
}

.icon-bars:before {
	content: "\f0c9";
}
.icon-file-pdf-o:before {
	content: "\f1c1";
}
