footer
	width 100%
	padding 40px 0
	background black
	
	.footer-wrapper
		width 100%
		display grid
		grid-template-columns repeat(4, 1fr)
		grid-column-gap 20px
		
		.footer-column
			display flex
			flex-direction column
			align-items flex-start
			justify-content flex-start
			
			.img-shady
				opacity 0.5
				height 100px
			
			a, &
				transition(200ms)
				color gray
			
			a:hover
				color $primary
			
			.footer-link
				padding-bottom 20px
