.container
	width $frame-width
	position relative
	margin-left auto
	margin-right auto
	padding-left 15px
	padding-right 15px
	
	+below('xl')
		max-width 970px
		width 100%
	+below('xl')
		max-width 900px
		width 100%
	+below('m')
		width 100%
