.hero
	width 100%
	height 100vh
	position relative
	background $primary
	
	.message
		position relative
		top 15vh
		z-index 2
	
	&-huge
		$font-size(120px)
		font-weight 700
		font-family 'Playfair Display', serif
		color white
		+below('l')
			font-size var(--font-large)
		+below('m')
			font-size var(--font-big)
	
	&-subtitle
		$font-size(60px)
		font-family 'Nunito', sans-serif
		color white
		+below('l')
			font-size var(--font-big)
		+below('m')
			font-size var(--font-medium)
	
	.hero-image
		position absolute
		left 0
		top 0
		width 100%
		height 100%
		overflow hidden
		background #000
		mix-blend-mode hard-light
		opacity 0.7
		
		&-container
			//width 100%
			//height 100%
			
			img
				opacity .7
				width 100%
				height 100%
				object-fit cover
	
	.waves
		user-select none
		position absolute
		height 100%
		width 100%
		top 0
		left 0
		display flex
		justify-content center
		overflow hidden
		align-items flex-end
		
		img
			pointer-events none
		
		.topwave
			position absolute
			top 0
			left 0
			z-index 2
			width 500px
			+below('m')
				width 100%
			
			img
				width 100%
				position relative
				filter drop-shadow(30px 0 0 rgba(0, 0, 0, 0.15))
		
		.bottom-wave
			position absolute
			bottom 0
			display flex
			align-items flex-end
			z-index 2
			height 340px
			width 100%
			
			img
				width 100%
				position relative
				filter drop-shadow(30px -19px 0 rgba(0, 0, 0, 0.15))
