.about
	width 100%
	padding 50px 0
	background $primary
	position relative
	
	background rgba($primary, 0.5)
	
	&::after
		content ''
		width 100%
		height 100%
		top 0
		left 0
		position absolute
		z-index -1
		background url(/src/img/school_bg.jpg)
		background-attachment fixed
		filter grayscale(100%)
		background-size cover
		background-position center
	
	.about-inner-wrapper
		display grid
		grid-template-columns repeat(2, 1fr)
		grid-column-gap 20px
		+below('m')
			grid-template-columns 1fr
	
	.card
		background white
		padding 40px
		border-radius 8px
		-webkit-box-shadow 0 5px 15px 5px rgba(0, 0, 0, 0.15)
		box-shadow 0 5px 15px 5px rgba(0, 0, 0, 0.15)
		position relative
		right 0
		
		h2
			text-align left
			font-size var(--font-great)
			font-family 'Playfair Display', Serif
			color black
		
		p
			font-size var(--font-medium)
			line-height 1.67
	
	.features
		display flex
		justify-content space-evenly
		align-items center
		flex-wrap wrap
		
		a
			color black
			background white
			padding 40px
			margin 20px
			position relative
			font-size var(--font-medium)
			overflow hidden
			font-weight bold
			transition(400ms)
			-webkit-box-shadow 0 15px 15px 2px rgba(0, 0, 0, 0.15)
			box-shadow 0 15px 15px 2px rgba(0, 0, 0, 0.15)
			
			&:hover
				transform translateY(5px)
			
			
			.bg
				background url("/src/img/paper.png")
				width 100%
				height 100%
				position absolute
				mix-blend-mode multiply
				left 0
				top 0
			
			&.red
				background #eca0a0
				organic(true, 45%, 10%)
			
			&.blue
				background #c7e4e7
				organic(true, 45%, 10%)
			
			&.green
				background #cdf1ce
				organic(true, 45%, 10%)
			
			&.purple
				background #dacdfc
				organic(true, 45%, 10%)

