.scroll-to-top
	position fixed
	right 20px
	bottom 20px
	width 50px
	height 50px
	border-radius 4px
	color white
	background black
	display flex
	justify-content center
	align-items center
	transition(200ms)
	z-index 4
	opacity 0.2
	cursor pointer
	
	&:hover
		opacity 1
		
