.navbar
	padding-left 20px
	height 90px
	display flex
	align-items center
	justify-content flex-start
	
	
	+below('m')
		display none
		
		&.opened
			display flex
	
	ul.menu
		
		display flex
		navbar-link()
		margin 0
		list-style none
		padding-inline-start 0
		
		> li
			margin 0 25px
			position relative
			display flex
			
			> a
				font-weight 700
				text-transform uppercase
				padding 25px
				margin -25px
				
				&:hover
					color $primary
			
			
			.sub-menu
				position absolute
				width auto
				padding 20px
				background white
				grid-template-columns repeat(3, 1fr)
				right -40px
				margin-top 40px
				display none
				
				&.active
					display flex
					flex-direction column
				
				&::before
					content ''
					position absolute
					top -10px
					right 40px
					background white
					width 40px
					height 20px
					clip-path polygon(50% 0%, 0% 100%, 100% 100%)
				
				li
					margin 5px 0
					
					> a
						white-space nowrap
						color black
						font-weight bold
						text-transform uppercase
						padding 5px 0
						
						&:hover
							color $primary
		
		
		+below('m')
			display block
			width 100%
			position absolute
			height auto
			top 120px
			left 0
			background $primary
			
			li
				color $black
				padding 20px
				position relative
				display block
				margin 0
				
				.unwrapper
					position absolute
					right 0
					top 0
					height 100%
					width 60px
					background purple
				
				.sub-menu
					display none
					position relative
					width 100%
					flex-direction column
					margin 0
					padding 0
					left 0
					top 18px
					z-index 1
					right 0
					
					&::before
						display none
					
					&.active
						display flex
				
				a
					width 100%
