.controls
	width 100%
	height 100%
	position absolute
	top 0
	left 0
	pointer-events none
	z-index 2
	
	.glide__arrows
		width 100%
		height 100%
		position absolute
		left 0
		top 0
		display flex
		justify-content space-between
		align-items center
		pointer-events none
		+below('l')
			display none
		
		.glide__arrow--left, .glide__arrow--right
			color $primary
			padding 20px
			cursor pointer
			font-size var(--font-medium)
			
			&[disabled]
				opacity 0
				pointer-events none
		
		
		.glide__arrow--left
			pointer-events all
			margin-left -100px
		
		.glide__arrow--right
			pointer-events all
			margin-right -100px
