.coop
	margin-bottom 100px
	
	h2
		text-align center
		margin 40px 0
	
	&-reel
		display flex
		justify-content center
		align-items center
		flex-wrap wrap
		
		a
			margin 20px
			
			img
				height 100px
				transform scale(1)
				transition()
				
				&:hover
					transform scale(1.05)
