.gallery
	width 100%
	
	h1
		text-align center
		font-size var(--font-huge)
	
	
	&-tiles
		padding 40px 0
		display grid
		grid-template-columns repeat(4, 1fr)
		grid-column-gap 20px
		grid-row-gap 20px
		+below('l')
			grid-template-columns repeat(3, 1fr)
		+below('m')
			grid-template-columns repeat(2, 1fr)
		+below('s')
			grid-template-columns repeat(1, 1fr)
		
		a
			cursor pointer
		
		
		figure
			height 180px
			position relative
			overflow hidden
			border-radius 8px
			transition()
			margin 0
			transform scale(1)
			
			&:hover
				transform scale(1.05)
			
			figcaption
				position absolute
				bottom 0
				margin 0
				left 0
				width 100%
				padding 10px 15px
				background rgba(black, 0.5)
				color white
			
			img
				height 100%
				width 100%
				object-fit cover
