#header
	position absolute
	width 100%
	top 0
	z-index 9
	
	.toolbar
		width 100%
		background $default
		position relative
		color rgba(white, 0.7)
		
		&-content
			width 100%
			height 50px
			display flex
			justify-content space-between
			
			text-transform uppercase
			
			&-left, &-right
				display flex
				align-items center
			
			&-left
				justify-content flex-start
			
			&-left
				justify-content flex-end
			
			.navbar
				ul
					li
						margin 0 5px
						position relative
						
						a:hover
							color $primary
	
	.navigation
		position relative
		height 120px
		width 100%
		//background white
		//box-shadow 0 1px 5px 0 rgba(0, 0, 0, 0.15)
		color black
		font-family 'Poppins', sans-serif
		display flex
		justify-content space-between
		padding 0 80px
		+below('l')
			padding 0 20px
		+below('m')
			position fixed
			padding 10px
			z-index 9
			background white
		
		.logo-content
			
			.logo
				width $logo-width
				display block
				+below('m')
					width auto
					height 80px
				
				img
					width 100%
					height 100%
					object-fit contain
		
		
		.hamburger
			display none
			position absolute
			right 0
			top 0
			align-items center
			padding 40px
			font-size var(--font-great)
			color $primary
			+below('m')
				display flex
	
	
	&.homepage
		.navigation
			color white
			
			.header-content
				ul
					a:hover
						color black
						
						a:hover
							color $primary
					
					.sub-menu
						a:hover
							color $primary
	
	&:not(.homepage)
		.navigation
			.sub-menu
				background $primary
				
				&::before
					background $primary
				
				a
					color white
					
					&:hover
						color black
