body
	for fontsizeName, fontsizeValue in $fontSizes
		add-property('--font-' + fontsizeName, $remify(fontsizeValue))

h2
	width 100%
	font-size var(--font-great)

h1, h2, h3, h4, h5, h6
	font-family 'Nunito', Serif

::selection
	background $primary
	color white
