.contact
	width 100%
	
	h2
		text-align center
		margin 40px 0
	
	&-wrapper
		position relative
		width 100%
		height 400px
		max-height 50vh
		padding 50px
		display flex
	
	&-background
		height 100%
		width 100%
		left 0
		top 0
		position absolute
		
		.map
			overflow hidden
			width 100%
			height 100%
			
			img
				width 100%
				height 100%
				object-fit cover
	
	&-card-anchor
		position absolute
		top 0
		left 49%
		width 0
		height 100%
		display flex
		justify-content flex-end
		align-items center
		
		+below('s')
			position relative
			left auto
			width 100%
			height auto
			flex-direction column
	
	
	&-card
		position absolute
		height auto
		background white
		padding 40px
		border-radius 8px
		
		+below('s')
			left auto
			position relative
		
		&::after
			content ''
			position absolute
			background white
			right -15px
			top 45%
			height 40px
			width 20px
			clip-path: polygon(100% 50%, 0 0, 0 100%)
			
			+below('s')
				display none
		
		h3:not(:first-child)
			margin-top 10px
		font-size var(--font-medium)
		
		address, span
			font-style italic
	
	&-button
		left 80px
		position absolute
		padding 10px 15px
		border-radius 40px
		white-space nowrap
		font-weight bold
		background $primary
		color white
		
		+below('s')
			left auto
			position relative
			text-align center
			width 100%
			margin-top 20px
		
		&:hover
			background white
			color $primary
		
		&::after
			content ''
			position absolute
			background $primary
			left -9px
			top calc(50% - 5px)
			height 10px
			width 10px
			clip-path polygon(0 48%, 100% 0, 100% 100%)
			
			+below('m')
				display none
